.dialog {
  position: fixed;
  width: 100%;
  height: 80%;
  z-index: 10000;
  display: flex;
  justify-content: space-between;
  transition: visibility 0.1s ease-out;
  visibility: hidden;
}

.dialog--visible {
  visibility: visible;
}

.dialog__image {
  display: flex;
  justify-content: center;
  width: 25%;
  transition: transform 0.2s ease-in;
  transform: scale(0);
}

.dialog__image--transition {
  transition: transform 0.2s ease-out;
  transform: scale(1);
}

.dialog__image > img {
  object-fit: cover;
  border-radius: 2px;
  box-shadow: 0 8px 8px -4px black;
}

.dialog__button {
  cursor: pointer;
  border: 0;
  background-color: transparent;
  width: 100%;
  border-radius: 10px;
  z-index: 20000;
}

.dialog__arrow {
  border: solid #f1f1e6;
  border-width: 0 8px 8px 0;
  display: inline-block;
  padding: 8px;
  border-radius: 2px;
}

.dialog__button--disabled {
  pointer-events: none;
  opacity: 0.5;
  cursor: auto;
}

.dialog__right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.dialog__left {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}
