@import url("../configs/colors.scss");

.dialog {
  position: fixed;
  height: 100vh;
  width: 100vw;
  z-index: 10000;
  display: flex;
  justify-content: space-between;
  transition: visibility 0.1s ease-out;
  visibility: hidden;
  opacity: 0;
  transition: opacity 500ms ease, visibility 500ms ease;
  background-color: var(--color-primary);
}

.dialog--visible {
  visibility: visible;
  opacity: 1;
}

.dialog__image-container {
  display: flex;
  justify-content: center;
  width: 80%;
  transition: transform 0.2s ease-in;
  -webkit-transition: -webkit-transform 0.2s ease-in !important;
  transform: scale(0);
  -webkit-transform: scale(0) !important;
}

.dialog__image-container--transition {
  transition: transform 0.2s ease-out;
  -webkit-transition: -webkit-transform 0.2s ease-in !important;
  transform: scale(1);
  -webkit-transform: scale(1) !important;
}

.dialog__img {
  // box-shadow: 0 8px 8px -4px black;
  object-fit: contain;
  border-radius: 2px;
  height: 90vh;
  width: 95vw;
  max-width: 100vw;
  max-height: 100vh;
  padding-top: 10px;
}

.dialog__description {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 5px;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-top: 10px;
  height: fit-content;
  width: 30%;
  text-align: center;
  opacity: 0;
  -webkit-opacity: 0;
  transition: opacity 1s ease;
  -webkit-transition: -webkit-opacity 0.2s ease-in;
  min-height: 80px;
}

.dialog__description-content {
  display: inline-block;
  align-self: flex-end;
}

.dialog__description--transition {
  opacity: 1;
  -webkit-opacity: 1;
}

.dialog__button {
  cursor: pointer;
  border: 0;
  background-color: transparent;
  width: 100%;
  border-radius: 10px;
  z-index: 20000;
}

.dialog__arrow {
  border: solid var(--color-text);
  border-width: 0 8px 8px 0;
  display: inline-block;
  padding: 8px;
  border-radius: 2px;
}

.dialog__button--disabled {
  pointer-events: none;
  opacity: 0.5;
  cursor: auto;
}

.dialog__right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.dialog__left {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}

@media only screen and (max-width: 834px) {
  /* For mobile phones: */

  .dialog {
    height: 95vh;
    width: 100vw;
  }

  .dialog__image-container {
    width: 50%;
  }

  .dialog__description {
    width: 80%;
    // bottom: -10vh;
  }

  .dialog__button {
    position: relative;
    bottom: -75%;
    height: fit-content;
    width: 100%;
    padding: 50px 0;
  }
}
