@import url("../configs/colors.scss");

.dialog {
  position: fixed;
  width: 100%;
  height: 80%;
  z-index: 10000;
  display: flex;
  justify-content: space-between;
  transition: visibility 0.1s ease-out;
  visibility: hidden;
}

.dialog--visible {
  visibility: visible;
}

.dialog__image {
  display: flex;
  justify-content: center;
  width: 50%;
  transition: transform 0.2s ease-in;
  transform: scale(0);
}

.dialog__image--transition {
  transition: transform 0.2s ease-out;
  transform: scale(1);
}

.dialog__image > img {
  object-fit: cover;
  border-radius: 2px;
  box-shadow: 0 8px 8px -4px black;
}

.dialog__description {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translate(-50%, -50%);
  bottom: 0;
  margin-top: 3%;
  height: fit-content;
  width: 30%;
  padding: 5px;
  text-align: center;
  opacity: 0;
  transition: opacity 1s ease;
}

.dialog__description--transition {
  opacity: 1;
}

.dialog__button {
  cursor: pointer;
  border: 0;
  background-color: transparent;
  width: 100%;
  border-radius: 10px;
  z-index: 20000;
}

.dialog__arrow {
  border: solid var(--color-text);
  border-width: 0 8px 8px 0;
  display: inline-block;
  padding: 8px;
  border-radius: 2px;
}

.dialog__button--disabled {
  pointer-events: none;
  opacity: 0.5;
  cursor: auto;
}

.dialog__right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.dialog__left {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}

@media only screen and (max-width: 834px) {
  /* For mobile phones: */

  .dialog {
    height: 90%;
  }

  .dialog__image {
    width: 0;
  }

  .dialog__description {
    width: 80%;
    margin-top: 0;
  }

  .dialog__button {
    align-self: end;
    width: 100%;
    padding: 50px 0;
  }

  .dialog__image--rescale-3 {
    transform: scale(0.32) !important;
  }
  .dialog__image--rescale-5 {
    transform: scale(0.48) !important;
  }
  .dialog__image--rescale-7 {
    transform: scale(0.7) !important;
  }
}
