html,
body {
  margin: 0;
}

body {
  background-color: #00111f;
  color: white;
}

#app {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  border: 1px solid red;
  border: 0;
}

.header__content,
.gallery__content {
  padding: 10px;
  margin-bottom: 2px;
}

.header,
.footer {
  position: fixed;
  background-color: #00111f;
  font-size: 16px;
}

.header__content,
.footer__content {
  width: 50%;
  /* height: 20px; */
  /* background-color: blue; */
  height: fit-content;
}

.header {
  top: 0;
}

.header__content {
  display: flex;
  align-items: center;
}

.header__img {
  border-radius: 9999px;
  width: 60px;
  height: 60px;
}

.header__text {
  padding: 0 10px;
}

.header__title {
  font-weight: bold;
  margin-bottom: 5px;
}

.header__description {
  font-size: 12px;
}

.gallery {
  display: flex;
  flex-direction: column;
  width: 70%;
  margin-top: 120px;
}

.gallery__content {
  /* border: 1px solid red; */
  display: grid;
  grid-auto-rows: 150px;
  grid-template-columns: repeat(5, 150px);
  gap: 15px;
  justify-content: center;
}

.large {
  grid-column: auto/span 2;
  grid-row: auto/span 2;
}

.gallery__bloc {
}

.gallery__img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.header,
.footer {
  width: 100%;
  display: flex;
  justify-content: center;
  height: fit-content;
}
.footer {
  bottom: 0;
}

.footer__content {
  display: flex;
  justify-content: end;
  align-items: center;
}
