/* Palette colors https://coolors.co/palette/00111c-001523-001a2c-002137-00253e-002945-002e4e-003356-003a61-00406c */

html,
body {
  margin: 0;
}

body {
  background-color: #001a2c;
  color: #f1f1e6;
  font-family: Candara, Calibri, Segoe, Segoe UI, Optima, Arial, sans-serif;
}

.app {
  display: flex;
  align-items: center;
  flex-direction: column;
  border: 1px solid red;
  border: 0;
  padding: 20px 0;
}

.header__content,
.gallery__content {
  padding: 10px;
  margin-bottom: 2px;
}

.header__content,
.footer__content {
  width: 50%;
  height: fit-content;
}

.header {
  top: 0;
  z-index: 100;
  background-color: #002137;
}

.header__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
}

.header__profile {
  display: flex;
  align-items: center;
}

.header__img {
  border-radius: 9999px;
  width: 60px;
  height: 60px;
}

.header__text {
  padding: 0 10px;
}

.header__title {
  font-weight: bold;
  margin-bottom: 5px;
}

.header__description {
  font-size: 12px;
}

.gallery {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 70px 0;
}

.gallery--second-color {
  background-color: #002137;
}

.gallery__name {
  padding: 20px 10%;
}

.gallery__content {
  /* border: 1px solid red; */
  display: grid;
  grid-auto-rows: 150px;
  grid-template-columns: repeat(5, 150px);
  gap: 15px;
  justify-content: center;
}

.large {
  grid-column: auto/span 2;
  grid-row: auto/span 2;
}

.gallery__bloc {
  padding: 0px;
  transition: padding 0.2s ease;
  transform: translateY(150px);
  opacity: 0;
  transition: 0.2s all ease;
}

.gallery__bloc:hover {
  cursor: pointer;
  padding: 5px;
}

.gallery__bloc.active {
  transform: translateY(0);
  opacity: 1;
}

.gallery__img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 10px;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1), 0px 2px 4px rgba(0, 0, 0, 0.1),
    0px 4px 8px rgba(0, 0, 0, 0.1), 0px 8px 16px rgba(0, 0, 0, 0.1);
}

.header,
.footer {
  width: 100%;
  display: flex;
  justify-content: center;
  height: fit-content;
  position: fixed;
  font-size: 16px;
}

.footer {
  bottom: 0;
  background-color: #001a2c;
}

.footer__content {
  display: flex;
  justify-content: end;
  align-items: center;
}

.icons {
  fill: #f1f1e6;
  margin: 10px 5px;
  cursor: pointer;
}

.close-button {
  top: 0;
  position: fixed;
  left: 0;
  z-index: 10000;
}
