/* Palette colors https://coolors.co/palette/00111c-001523-001a2c-002137-00253e-002945-002e4e-003356-003a61-00406c */

html,
body {
  margin: 0;
}

body {
  background-color: #001a2c;
  color: #f1f1e6;
  font-family: Candara, Calibri, Segoe, Segoe UI, Optima, Arial, sans-serif;
}

#app {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  border: 1px solid red;
  border: 0;
}

.header__content,
.gallery__content {
  padding: 10px;
  margin-bottom: 2px;
}

.header,
.footer {
  position: fixed;
  font-size: 16px;
}

.header__content,
.footer__content {
  width: 50%;
  height: fit-content;
}

.header {
  top: 0;
  z-index: 100;
  background-color: #002137;
}

.header__content {
  display: flex;
  align-items: center;
}

.header__img {
  border-radius: 9999px;
  width: 60px;
  height: 60px;
}

.header__text {
  padding: 0 10px;
}

.header__title {
  font-weight: bold;
  margin-bottom: 5px;
}

.header__description {
  font-size: 12px;
}

.gallery {
  display: flex;
  flex-direction: column;
  width: 70%;
  margin-top: 120px;
}

.gallery__content {
  /* border: 1px solid red; */
  display: grid;
  grid-auto-rows: 150px;
  grid-template-columns: repeat(5, 150px);
  gap: 15px;
  justify-content: center;
}

.large {
  grid-column: auto/span 2;
  grid-row: auto/span 2;
}

.gallery__bloc {
  transition: transform 0.2s ease;
}

.gallery__bloc:hover {
  cursor: pointer;
  transform: scale(0.95);
}

.gallery__img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.header,
.footer {
  width: 100%;
  display: flex;
  justify-content: center;
  height: fit-content;
}
.footer {
  bottom: 0;
  background-color: #001a2c;
}

.footer__content {
  display: flex;
  justify-content: end;
  align-items: center;
}
