/* Palette colors https://coolors.co/palette/00111c-001523-001a2c-002137-00253e-002945-002e4e-003356-003a61-00406c */

@import url("./configs/colors.scss");

html,
body,
#root {
  height: 100%;
  margin: 0;
}

.app {
  background-color: var(--color-primary);
  color: var(--color-text);
  font-family: Candara, Calibri, Century Gothic, Segoe, Segoe UI, Optima, Arial,
    sans-serif;
  font-weight: 500;
  min-height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  border: 0;
}

.header__content,
.gallery__content {
  padding: 10px;
  // margin-bottom: 20px;
}

.header__content,
.footer__content {
  width: 50%;
  height: fit-content;
}

.header {
  top: 0;
  z-index: 100;
  background-color: var(--color-secondary);
}

.header__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  margin: 10px 0;
}

.header__profile {
  display: flex;
  align-items: center;
}

.header__img {
  border-radius: 9999px;
  width: 60px;
  height: 60px;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1), 0px 2px 4px rgba(0, 0, 0, 0.1),
    0px 4px 8px rgba(0, 0, 0, 0.1), 0px 8px 16px rgba(0, 0, 0, 0.1);
}

.header__text {
  padding: 0 10px;
}

.header__title {
  font-weight: bold;
  margin-bottom: 5px;
}

.header__description {
  font-size: 16px;
}

.header--animation {
  animation: exit-down-up 0.5s forwards;
}

@keyframes exit-down-up {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-100%);
  }
}

.back-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 5%;
  height: 5%;
  top: 0;
  right: 0;
  position: fixed;
  z-index: 100000;
  padding: 30px 100px;
  cursor: pointer;
  background-color: transparent;
  border: 0;
  color: var(--color-text);
  transform: translateY(-100%);
  margin: 5px;
}

.back-button:hover {
  // background-color: lightslategray;
  // border-radius: 5px;
  opacity: 0.2;
}

.back-button__cross {
  fill: var(--color-text);
  width: 56px;
  height: 56px;
  margin-right: 10px;
}

.download-button {
  margin: 0 !important;
}

.back-button--animation {
  animation: exit-up-down 0.5s forwards;
}

@keyframes exit-up-down {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(0);
  }
}

.gallery {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  padding-bottom: 100px;
  background-color: var(--color-primary);
}

.gallery--first {
  margin-top: 100px;
}

.gallery--second-color {
  background-color: var(--color-secondary);
}

.gallery__name {
  padding: 20px 10%;
  font-weight: bold;
  font-size: 20px;
}

.gallery__content {
  /* border: 1px solid red; */
  display: grid;
  grid-auto-rows: 150px;
  grid-template-columns: repeat(5, 150px);
  gap: 15px;
  justify-content: center;
  padding: 40px 0;
}

.large {
  grid-column: auto/span 2;
  grid-row: auto/span 2;
}

.gallery__bloc {
  padding: 0px;
  transition: padding 0.4s ease;
  transform: translateY(150px);
  opacity: 0;
  transition: 0.2s transform ease;
}

.gallery__bloc--skeleton::before {
  content: "";
  display: block;
  position: relative;
  background: black;
  z-index: -1;
  border-radius: 10px;
  height: 100%;
  width: 100%;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1), 0px 2px 4px rgba(0, 0, 0, 0.1),
    0px 4px 8px rgba(0, 0, 0, 0.1), 0px 8px 16px rgba(0, 0, 0, 0.1);
  background: linear-gradient(
      0.25turn,
      transparent,
      var(--color-primary),
      transparent
    ),
    linear-gradient(var(--color-secondary), var(--color-secondary)),
    radial-gradient(
      38px circle at 19px 19px,
      var(--color-secondary) 50%,
      transparent 51%
    ),
    linear-gradient(var(--color-secondary), var(--color-secondary));
  background-repeat: no-repeat;
  background-position: -315px 0, 0 0, 0px 190px, 50px 195px;
  animation: loading 1s infinite;
}

.gallery__bloc.active {
  transform: translateY(0);
  opacity: 1;
}

.gallery__bloc:hover {
  cursor: pointer;
  padding: 5px;
}

.gallery__bloc--animation:nth-child(5n),
.gallery__bloc--animation:nth-child(5n-1) {
  animation: exit-right-left 1.5s forwards;
}

@keyframes exit-right-left {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-3000%);
  }
}

.gallery__bloc--animation:nth-child(5n-4),
.gallery__bloc--animation:nth-child(5n-3),
.gallery__bloc--animation:nth-child(5n-2) {
  animation: exit-left-right 1.5s forwards;
}

@keyframes exit-left-right {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(3000%);
  }
}

@keyframes loading {
  to {
    background-position: 315px 0, 0 0, 0 190px, 50px 195px;
  }
}

.gallery__bloc > img {
  object-fit: cover;
  border-radius: 10px;
  height: 100%;
  width: 100%;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1), 0px 2px 4px rgba(0, 0, 0, 0.1),
    0px 4px 8px rgba(0, 0, 0, 0.1), 0px 8px 16px rgba(0, 0, 0, 0.1);
}

.header,
.footer {
  width: 100%;
  display: flex;
  justify-content: center;
  height: fit-content;
  position: fixed;
  font-size: 20px;
}

.footer {
  bottom: 0;
  background-color: var(--color-primary);
}

.footer__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100000;
}

.footer__link {
  text-decoration: none;
  color: var(--color-text);
  font-size: 10px;
  padding: 10px 20px;
  display: flex;
  align-content: center;
}

.footer__link:hover {
  text-decoration: underline;
}

.icons {
  fill: var(--color-text);
  margin: 10px 5px;
  cursor: pointer;
}

.opacity-animation {
  opacity: 1;
  transition: 0.2s all ease-in-out;
}

.opacity-animation:hover {
  cursor: pointer;
  opacity: 0.6;
}

@media only screen and (max-width: 1210px) {
  /* For tab : */
  .gallery--first {
    margin-top: 100px;
  }
}

@media only screen and (max-width: 834px) {
  /* For mobile phones: */

  .header {
    position: absolute;
  }

  .header__content,
  .header__profile {
    flex-direction: column;
    width: 90%;
  }

  .header__text {
    text-align: center;
  }

  .header--animation {
    animation: none;
    transform: translateY(-100%);
  }

  .gallery--first {
    margin-top: 230px;
  }

  .gallery__content {
    grid-template-columns: repeat(2, 150px);
  }

  .gallery__bloc {
    grid-column: auto/span 2;
    grid-row: auto/span 2;
  }

  .back-button {
    justify-content: flex-end;
    padding: 30px;
    margin: 0;
    width: 48px;
    height: 48px;
  }

  .footer--dialog-open {
    visibility: hidden;
    z-index: 0;
  }

  .footer__content {
    width: 60vh;
  }

  .footer__content > div {
    padding: 10px 20px;
  }
}
